<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>686748558697-lm20nqjlamghpjqnmd3ggegb65lof7rn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686748558697-lm20nqjlamghpjqnmd3ggegb65lof7rn</string>
	<key>API_KEY</key>
	<string>AIzaSyDbPbB6IYJSLRz8ILxlc-cKzA6taHjZI5g</string>
	<key>GCM_SENDER_ID</key>
	<string>686748558697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rusheelshah.TeamPulseApp</string>
	<key>PROJECT_ID</key>
	<string>team-pulse-d4bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>team-pulse-d4bbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:686748558697:ios:27a5d97d0c8ee46c</string>
	<key>DATABASE_URL</key>
	<string>https://team-pulse-d4bbd.firebaseio.com</string>
</dict>
</plist>